
<div class="booyah-box">
  <h2> NOMSTER </h2>
  <p> 
    ‣ A review application that handles user submitted photos and location reviews
    <br />
    ‣ Sole Developer
    <br />
    ‣ Ruby, HTML, CSS, Google Maps API
    <br />
    <br />
    <%= link_to 'Deployed App', "https://nomster-cooper-holmes.herokuapp.com", :target => "_blank" %>
    <br />
    <%= link_to 'GitHub Repo', "https://github.com/cooperrholmes/Nomster", :target => "_blank" %>
    <br />
    <div class="booyah-box-a">
      <%= image_tag 'nomster1.PNG', class: 'center img-fluid' %>
    </div>
    <br />
    <div class="booyah-box-a">
      <%= image_tag 'nomster2.PNG', class: 'center img-fluid' %>
    </div>
    <br />
  </p>
</div>

<div class="booyah-box">
  <h2> TODOSTER </h2>
  <p>
    ‣ A To-Do list application which utilizes jQuery to perform list manipulation and event handling
    <br />
    ‣ Sole Developer
    <br />
    ‣ Ruby, HTML, CSS, Javascript
    <br />
    <br />
    <%= link_to 'Deployed App', "https://todoster-cooper-holmes.herokuapp.com", :target => "_blank" %>
    <br />
    <%= link_to 'GitHub Repo', "https://github.com/cooperrholmes/SPA", :target => "_blank" %>
    <br />
    <div class="booyah-box-a">
      <%= image_tag 'todo1.PNG', class: 'center image-fluid' %>
    </div>
    <br />
    <div class="booyah-box-a">
      <%= image_tag 'todo2.PNG', class: 'center image-fluid' %>
    </div>
    <br />
  </p>
</div>

<div class="booyah-box">
  <h2> FLIXTER </h2>
  <p>
    ‣ A video uploading/streaming service that handles payments and course administration
    <br />
    ‣ Sole Developer
    <br />
    ‣ Ruby, HTML, CSS, Stripe
    <br />
    <br />
    <%= link_to 'Deployed App', "https://flixter-cooper-holmes.herokuapp.com", :target => "_blank" %>
    <br />
    <%= link_to 'GitHub Repo', "https://github.com/cooperrholmes/Flixter", :target => "_blank" %>
    <br />
    <div class="booyah-box-a">
      <%= image_tag 'flixter1.PNG', class: 'center image-fluid' %>
    </div>
    <br />
    <div class="booyah-box-a">
      <%= image_tag 'flixter2.PNG', class: 'center image-fluid' %>
    </div>
    <br />
  </p>
</div>